html {
    -webkit-print-color-adjust: exact;
}

.page {
	width: 8.5in!important;
	height: 11in!important;
	padding: .1in;
	margin: auto;
}

div, p {
    margin: 0;
}

.cell1 { 
	-ms-grid-row: 1; 
	-ms-grid-column: 1; 
	grid-area: resume-sidebar-header;
	background-color: #404040;
	border-left: 0;
	border-top: 0;
	border-color: #24A0ED;
	border-style: solid;
	/* font */
	text-align: right;
}

.cell1 li {
	text-align: right;
}

.cell2 {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: header; 
	background-color: white;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-color: #24A0ED;
	border-style: solid;
	/* font */
	text-align: center;
}

.cell3 { 
	-ms-grid-row: 2; 
	-ms-grid-column: 1; 
	grid-area: sidebar; 
	background-color: #404040;
	padding: .1in;
	border-left: 0;
	border-bottom: 0;
	border-top: 0;
	border-color: #24A0ED;
	border-style: solid;
	/* font */
	text-align: right;
}

.cell4 { 
	-ms-grid-row: 2; 
	-ms-grid-column: 2; 
	grid-area: body; 
	background-color: white;
	padding: 0in .5in;
}

.resume-grid {
	display: -ms-grid;
	display: grid;
	        grid-template-areas:
		"resume-sidebar-header header"
		"sidebar        body";
	-ms-grid-columns: 2fr 5fr;
	grid-template-columns: 2fr 5fr;
	-ms-grid-rows: auto 1fr;
	grid-template-rows: auto 1fr;
	height: 100%;
}

/* cell 1 rules */
.cell1 ul {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	list-style: none;
	padding-left: 0;
	grid-area: resume-sidebar-header;
}

.icon {
    width: 18px!important;
    height: 18px!important;
    float: right;
    position: relative;
    right: 0;
    margin-left: 10px;
	margin-right: 10px;
}

/* cell 2 rules */
.header-block {
	background-color: #404040;
	display: inline-block;
	padding: 0 1in;
	margin: 0;
}

/* cell 3 rules */
.cell3 p {
	padding: 10px 0px;
}
