html {
    -webkit-print-color-adjust: exact;
}

body {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
	background-color: #ddd;
	color: #404040;
}

/* body */
.content {
	text-align: center;
	margin: 225px 0 auto;
}

.center {
	width: 80%;
	display: block;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 0 0 0.05in rgba(0,0,0,0.25);
	padding: auto 0;
}

.section {
	display: flex;
	width:100%;
	text-align:center;
	background-color: #fff;
}

.section .title {
	border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #24A0ED;
    border-style: solid;
}

.section div {
	margin: auto;
	flex: 1 1 0px;
	padding: 20px;
}

.section img {
	width: 50%;
}

/* not used */
.blue-div {
	background-color: #24A0ED;
	height: 3px;
	width: 100%;
	display: block;
	float: left;
}


