/* Default font for website */
body {
  	font-family: "Open Sans", Helvetica, sans-serif;
	color: #404040;
}

.white {
	color: #fff;
}

.blue {
	color: #24A0ED;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin: .1em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
    margin: 0;
}

h3 {
    font-size: .9em;
    font-weight: normal;
    letter-spacing: .05em;
}

h4 {
    font-size: .92em;
    font-weight: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 5px 0;
    text-align: center;
    padding-top: 1em;
}

h5, h6 {
    font-size: .65em;
    font-weight: bold;
	letter-spacing: .05em;
    text-transform: uppercase;
	text-align: left;
	margin: 1em;
}

h6 {
	font-style: italic;
}

li, p {
	font-size: .8em;
}

li {
	margin: .8em 0;
	text-align: left;
}