html {
    -webkit-print-color-adjust: exact;
}

body {
	margin: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.sidebar {
	  margin: 0;
	  padding: 0;
	  width: 200px;
	  background-color: #f1f1f1;
	  position: fixed;
	  height: 100%;
	  overflow: auto;
	  box-shadow: rgba(0, 0, 0, 0.6) 1px 0px 3px 2px;
}

.sidebar a {
	  display: block;
	  color: black;
	  padding: 16px;
	  text-decoration: none;
	  font-weight: bold;
	  text-align: center;
}
 
.sidebar a.active {
	  background-color: #24A0ED;
	  color: white;
}

.sidebar a:hover:not(.active) {
	  background-color: #555;
	  color: white;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

div.content {
	  margin-left: 200px;
	  padding: 16px;
	  height: 100%;
	  text-align: center;
}

.center {
	display: inline-block;
}

.center h1 {
	text-align:center;
}

.crop {
	width: 231px;
	height: 300px;
	overflow: hidden;
	border-radius: 25px;
}

.crop img {
	margin: -148px 0 0 -200px;
	overflow: hidden;
}